<div class="modal-mask">
    <div class="modal-wrapper">
        <div class="modal-container">
            <h2>{{title}}</h2>
            <button id="close">close</button>
        </div>
    </div>
</div>